<a href="https://colab.research.google.com/github/Settee-ake/DB_Project/blob/main/db_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Database Foundation Project
#-----------------------
# Name: Settee Chaitragool
# ID: 6281551
#-----------------------

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
postgresql://root:6CGUWcmn6cyMG8FtgEJPXLYCwZw4Fnjl@dpg-cmivnva1hbls738gohn0-a.singapore-postgres.render.com/remote_pg_db_a8sj

In [ ]:
%%sql

-- Table of `location` --------------------------
DROP TABLE IF EXISTS location;

CREATE TABLE IF NOT EXISTS location (
  id SERIAL PRIMARY KEY,
  street_address VARCHAR(100) NOT NULL,
  city VARCHAR(50) NOT NULL,
  state VARCHAR(2) NOT NULL,
  zipcode INT NOT NULL UNIQUE
);

-- Table of `vehicle_type` --------------------------
DROP TABLE IF EXISTS vehicle_type;

CREATE TABLE IF NOT EXISTS vehicle_type (
  id SERIAL PRIMARY KEY,
  name VARCHAR(45) NOT NULL UNIQUE
);

-- Table of `vehicle` --------------------------
DROP TABLE IF EXISTS vehicle;

CREATE TABLE IF NOT EXISTS vehicle (
  id SERIAL PRIMARY KEY,
  brand VARCHAR(45) NOT NULL,
  model VARCHAR(45) NOT NULL,
  model_year INT NOT NULL,
  mileage INT NOT NULL CHECK (mileage >= 0),
  color VARCHAR(45) NOT NULL,
  vehicle_type_id INT NOT NULL,
  current_location_id INT NOT NULL,
  rental_price DECIMAL(13,2) NOT NULL CHECK (rental_price >= 0),
  FOREIGN KEY (vehicle_type_id) REFERENCES vehicle_type (id) ON DELETE RESTRICT ON UPDATE CASCADE,
  FOREIGN KEY (current_location_id) REFERENCES location (id) ON DELETE RESTRICT ON UPDATE CASCADE
);

-- Table of `customer` --------------------------
DROP TABLE IF EXISTS customer;

CREATE TABLE IF NOT EXISTS customer (
  id SERIAL PRIMARY KEY,
  first_name VARCHAR(45) NOT NULL,
  last_name VARCHAR(45) NOT NULL,
  birth_date DATE NOT NULL,
  license_number VARCHAR(12) NOT NULL UNIQUE,
  phone_number VARCHAR(12),
  email VARCHAR(255) NOT NULL UNIQUE
);

-- Table of `fuel_option` --------------------------
DROP TABLE IF EXISTS fuel_option;

CREATE TABLE IF NOT EXISTS fuel_option (
  id SERIAL PRIMARY KEY,
  name VARCHAR(45) NOT NULL,
  description VARCHAR(255)
);

-- Table of `rental` --------------------------
DROP TABLE IF EXISTS rental;

CREATE TABLE IF NOT EXISTS rental (
  id SERIAL PRIMARY KEY,
  begin_date DATE NOT NULL,
  end_date DATE NOT NULL,
  customer_id INT NOT NULL,
  vehicle_type_id INT NOT NULL,
  fuel_option_id INT NOT NULL,
  pickup_location_id INT NOT NULL,
  drop_off_location_id INT NOT NULL,
  FOREIGN KEY (customer_id) REFERENCES customer (id) ON DELETE RESTRICT ON UPDATE CASCADE,
  FOREIGN KEY (fuel_option_id) REFERENCES fuel_option (id) ON DELETE RESTRICT ON UPDATE CASCADE,
  FOREIGN KEY (pickup_location_id) REFERENCES location (id) ON DELETE RESTRICT ON UPDATE CASCADE,
  FOREIGN KEY (drop_off_location_id) REFERENCES location (id) ON DELETE RESTRICT ON UPDATE CASCADE,
  FOREIGN KEY (vehicle_type_id) REFERENCES vehicle_type (id) ON DELETE RESTRICT ON UPDATE CASCADE
);

-- PostgreSQL Trigger for age check
DROP TRIGGER IF EXISTS age_check ON customer;
CREATE TRIGGER age_check
BEFORE INSERT ON customer
FOR EACH ROW
EXECUTE FUNCTION age_check_function();

-- age filtration function ----------------
CREATE OR REPLACE FUNCTION age_check_function()
RETURNS TRIGGER AS $$
BEGIN
  IF (NEW.birth_date > (CURRENT_DATE - INTERVAL '21 years')) THEN
    RAISE EXCEPTION 'You are too young to drive bro~';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-cmivnva1hbls738gohn0-a.singapore-postgres.render.com/remote_pg_db_a8sj
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(psycopg2.errors.UndefinedFunction) function age_check_function() does not exist

[SQL: CREATE TRIGGER age_check
BEFORE INSERT ON customer
FOR EACH ROW
EXECUTE FUNCTION age_check_function();]
(Background on this error at: https://sqlalche.me/e/20/f405)